
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
  }

  * {
    box-sizing: border-box;
  }

  /* Wrap to fix footer position */
.wrapper {
  /* 105px must match with footer's height and margin-top */
  min-height: calc(100vh - 100px); 
}

footer {
  height: 100px;
  padding: 25px 0;
  text-align: right;
  font-size: 90%;
  line-height: 1.5;
  background-color: #EDEBEB;
  color: #265054;
}